node_modules/
scripts/
coverage/
**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitignore
**/docker-compose*
.eslintrc.config.json
.prettierrc.json
/swagger.json
/dist
.version
/.devcontainer
/.husky
/.vscode
README.md
LICENSE
# 可能之後要加上 EmbbedingServer
