# just for docker-compose.yml using and using on production

INFISICAL_ENVIRONMENT=*****
INFISICAL_TOKEN=*****
MYSQL_HOST=*****
MYSQL_CONTAINER_NAME=*****
MYSQL_ROOT_PASSWORD=*****
MYSQL_DATABASE=*****
MYSQL_USER=*****
MYSQL_PORT=*****
MYSQL_PASSWORD=*****
MYSQL_VOLUME_PATH=*****
