INFISICAL_ENVIRONMENT=
INFISICAL_TOKEN=
MYSQL_CONTAINER_NAME=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PORT=
MYSQL_PASSWORD=
MYSQL_VOLUME_PATH=
REDIS_PASSWORD=
REDIS_CONTAINER_NAME=
REDIS_PORT=

MILVUS_HOST=
MILVUS_VOLUME_PATH=

MILVUS_MINIO_ACCESS_KEY=
MILVUS_MINIO_SECRET_KEY=

MILVUS_GRPC_PORT=
MILVUS_HTTP_PORT=

MILVUS_MINIO_CONSOLE_PORT=
MILVUS_MINIO_API_PORT=

EMBEDDING_SERVER_PORT=