MYSQL_CONTAINER_NAME=****
MYSQL_ROOT_PASSWORD=****
MYSQL_DATABASE=****
MYSQL_USER=****
MYSQL_PORT=****
MYSQL_PASSWORD=****
MYSQL_VOLUME_PATH=****
REDIS_PASSWORD=****
REDIS_CONTAINER_NAME=****
REDIS_PORT=****
MINIO_ENDPOINT=
MINIO_AVATAR_BUCKET=
MINIO_AVATAR_ACCESS_KEY=
MINIO_AVATAR_SECRET_KEY=