# for devcontainer set
INFISICAL_TOKEN=
INFISICAL_ENVIRONMENT=
# container name
MYSQL_CONTAINER_NAME=
REDIS_CONTAINER_NAME=
ETCD_CONTAINER_NAME=
MILVUS_MINIO_CONTAINER_NAME=
MILVUS_CONTAINER_NAME=
MAIL_CONTAINER_NAME=
RABBITMQ_CONTAINER_NAME=

# volume set
MYSQL_VOLUME_PATH=
MILVUS_VOLUME_PATH=
MILVUS_ETCD_VOLUME_PATH=
MILVUS_MINIO_VOLUME_PATH=
MQ_VOLUME_PATH=

# mysql set
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PORT=
MYSQL_PASSWORD=

# redis set
REDIS_PASSWORD=
REDIS_PORT=

# milvus set
MILVUS_MINIO_API_PORT=
MILVUS_MINIO_CONSOLE_PORT=
MILVUS_MINIO_ACCESS_KEY=
MILVUS_MINIO_SECRET_KEY=
MILVUS_ROOT_USERNAME=
MILVUS_ROOT_PASSWORD=
MILVUS_GRPC_PORT=
MILVUS_HTTP_PORT=

# rabbitmq set
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=

# mail set
GMAIL_ACCOUNT=
CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
MQ_URL=

# embedding server
EMBEDDING_SERVER_PORT=5001