INFISICAL_ENVIRONMENT=staging
INFISICAL_TOKEN=****
MYSQL_HOST=mysql_staging
MYSQL_CONTAINER_NAME=mysql_staging
MYSQL_ROOT_PASSWORD=****
MYSQL_DATABASE=****
MYSQL_USER=****
MYSQL_PORT=****
MYSQL_PASSWORD=****
MYSQL_VOLUME_PATH=dengta-mysql-staging
REDIS_PASSWORD=****
REDIS_CONTAINER_NAME=redis_staging
REDIS_PORT=****

MILVUS_VOLUME_PATH=milvus-data
MILVUS_MINIO_ACCESS_KEY=****
MILVUS_MINIO_API_PORT=****
MILVUS_MINIO_CONSOLE_PORT=****
MILVUS_MINIO_SECRET_KEY=****
MILVUS_GRPC_PORT=****
MILVUS_HTTP_PORT=****
MILVUS_ROOT_USERNAME=****
MILVUS_ROOT_PASSWORD=****

BACKEND_PORT=****
CUSTOM_ENV=staging